.Login a {
	display: inline-block;
	margin: 20px;
	border: 1px solid silver;
	border-radius: 5px;
	width: 250px;
	padding: 5px;
	text-decoration: none;
}

.Login a:hover {
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}